@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none; }

body {
  font-family: Roboto, Helvetica, Arial, sans-serif; }

.hero-header__menu {
  width: 100%;
  height: 70px;
  background: url("../images/png/Merged bar-17.png") repeat; }

.hero-header__menu .logo {
  height: 60px;
  margin: 8px 40px; }

.hero-header__menu ul {
  float: right;
  margin-right: 50px; }

.hero-header__menu ul li {
  display: inline-block;
  margin: 0 20px;
  line-height: 80px; }

.hero-header__menu ul li a {
  color: #000;
  font-weight: bold; }

.hero-header__menu ul li a:hover {
  color: #1A519E; }

.hero-header__menu ul li .button {
  width: 80px;
  height: 35px;
  text-align: center;
  color: #1078AD;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  border: 1px solid #1078AD; }

.hero-header__info {
  width: 100%;
  height: 150px;
  background: url("../images/png/En chiffres-3.png");
  text-align: center; }

.hero-header__info h2 {
  padding: 15px;
  font-size: 20px; }

.hero-header__info p {
  color: #1078AD; }

.hero-header__illustration {
  display: flex;
  padding: 30px 25px;
  width: 100%; }

.hero-header__illustration .doc {
  width: 50%;
  height: 50%; }

.hero-header__illustration .text {
  text-align: center;
  line-height: 45px;
  margin-top: 35px; }
  .hero-header__illustration .text h2 {
    color: #1078AD;
    font-size: 30px;
    margin-bottom: 25px; }
  .hero-header__illustration .text p {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 25px; }
  .hero-header__illustration .text button {
    margin-top: 30px;
    width: 450px;
    height: 45px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    background-color: #1078AD;
    border: 0px; }

.symptômes {
  width: 100%;
  margin-top: 70px;
  text-align: center; }
  .symptômes h1 {
    color: #1078AD;
    font-size: 30px; }
  .symptômes__cas {
    display: flex;
    justify-content: center; }
  .symptômes .cas-virus {
    width: 60%; }

.symptôme__left {
  margin: 60px 110px;
  line-height: 20px; }
  .symptôme__left p {
    font-weight: bold;
    margin-bottom: 70px;
    font-size: 20px; }

.symptôme__right {
  margin: 28px 110px;
  line-height: 20px; }
  .symptôme__right p {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 20px; }

.recommandations__offic {
  width: 100%;
  height: 300px;
  background-color: #1078AD;
  text-align: center;
  padding-left: 20px;
  padding-right: 23px; }
  .recommandations__offic .display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px; }
    .recommandations__offic .display p {
      color: #fff; }
