@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none; }

body {
  font-family: Roboto, Helvetica, Arial, sans-serif; }

.hero-header__menu {
  width: 100%;
  height: 70px;
  background: url("../images/png/Merged bar-17.png") repeat; }

.hero-header__menu .logo {
  height: 60px;
  margin: 8px 40px; }

.hero-header__menu ul {
  float: right;
  margin-right: 50px; }

.hero-header__menu ul li {
  display: inline-block;
  margin: 0 20px;
  line-height: 80px; }
  .hero-header__menu ul li #icon {
    color: #F4CF1B; }

.hero-header__menu ul li a {
  color: #000;
  font-weight: bold; }

.hero-header__menu ul li a:hover {
  color: #1A519E; }

.hero-header__menu ul li .button {
  width: 80px;
  height: 35px;
  text-align: center;
  color: #1078AD;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  border: 1px solid #1078AD; }

.hero-header__info {
  width: 100%;
  height: 150px;
  background: url("../images/png/En chiffres-3.png");
  text-align: center; }

.hero-header__info h2 {
  padding: 15px;
  font-size: 20px; }

.hero-header__info p {
  color: #1078AD; }

.hero-header__illustration {
  display: flex;
  padding: 30px 25px;
  width: 100%; }

.hero-header__illustration .doc {
  width: 50%;
  height: 50%; }

.hero-header__illustration .text {
  text-align: center;
  line-height: 45px;
  margin-top: 35px; }
  .hero-header__illustration .text h2 {
    color: #1078AD;
    font-size: 30px;
    margin-bottom: 25px; }
  .hero-header__illustration .text p {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 25px; }
  .hero-header__illustration .text button {
    margin-top: 30px;
    width: 450px;
    height: 45px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    background-color: #1078AD;
    border: 0px;
    border-radius: 2px; }

.prévention {
  margin-top: 30px;
  text-align: center;
  line-height: 35px;
  font-weight: bold; }
  .prévention h1 {
    font-size: 2rem;
    line-height: 37px;
    color: #1078AD; }
  .prévention__virus {
    padding: 0 35px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .prévention__corona p {
    margin-bottom: 35px;
    color: #1A519E; }
  .prévention__home {
    margin: 30px; }
    .prévention__home p {
      color: #1A519E; }
  .prévention__Informations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    width: 100%;
    background-color: #D0E5F0;
    padding: 0px 90px; }
    .prévention__Informations h2 {
      color: #1078AD;
      margin-bottom: 10px;
      font-size: 1.8rem; }
    .prévention__Informations p {
      color: #1A519E;
      font-size: 1.2rem; }
    .prévention__Informations ul {
      display: flex; }
      .prévention__Informations ul li {
        margin: 40px; }
        .prévention__Informations ul li button {
          width: 240px;
          height: 45px;
          text-align: center;
          font-weight: bold;
          color: #fff;
          background-color: #1078AD;
          border: 0px;
          border-radius: 2px; }

.symptômes {
  width: 100%;
  margin-top: 70px;
  text-align: center; }
  .symptômes h1 {
    color: #1078AD;
    font-size: 30px; }
  .symptômes__cas {
    display: flex;
    justify-content: center; }
    .symptômes__cas .cas-virus {
      width: 60%; }
  .symptômes__left {
    margin: 60px 110px;
    line-height: 20px; }
    .symptômes__left p {
      font-weight: bold;
      margin-bottom: 70px;
      font-size: 20px; }
  .symptômes__right {
    margin: 28px 110px;
    line-height: 20px; }
    .symptômes__right p {
      font-weight: bold;
      margin-bottom: 30px;
      font-size: 20px; }

.recommandations__offic {
  width: 100%;
  height: 400px;
  background-color: #1078AD;
  text-align: center;
  padding-left: 50px;
  padding-right: 100px; }
  .recommandations__offic h1 {
    padding: 25px;
    color: #fff; }
  .recommandations__offic .display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    line-height: 40px; }
    .recommandations__offic .display h3 {
      text-align: left;
      font-size: 20px; }
    .recommandations__offic .display p {
      color: #fff;
      text-align: left;
      font-size: 20px; }
    .recommandations__offic .display h2 {
      font-weight: bold;
      color: #F4CF1B; }
    .recommandations__offic .display button {
      margin: 20px 0px;
      width: 150px;
      height: 50px;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      color: #1078AD;
      background-color: #F4CF1B;
      border: 0px;
      border-radius: 3px; }
    .recommandations__offic .display a {
      color: #fff;
      border-bottom: 2px solid #F4CF1B; }

.contact {
  width: 100%;
  height: 250px;
  background-color: #96C5DC;
  text-align: center; }
  .contact h2 {
    color: #1078AD;
    padding: 20px; }
  .contact button {
    margin-top: 25px;
    width: 450px;
    height: 45px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    background-color: #1078AD;
    border: 0px;
    border-radius: 2px; }

.hero-footer {
  text-align: center;
  margin-top: 20px; }

.hero-footer__infoo {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  margin-top: 25px; }
  .hero-footer__infoo .nav ul {
    line-height: 50px; }
    .hero-footer__infoo .nav ul li a {
      color: #000;
      font-weight: bold;
      text-transform: capitalize; }
    .hero-footer__infoo .nav ul button {
      width: 80px;
      height: 35px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0);
      border-radius: 5px;
      border: 1px solid #1078AD; }
  .hero-footer__infoo .utiles ul {
    line-height: 50px;
    font-weight: bold; }
    .hero-footer__infoo .utiles ul li h2 {
      color: #1078AD; }
    .hero-footer__infoo .utiles ul li h3 {
      color: #369D53; }
  .hero-footer__infoo .parag {
    margin-top: 50px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.5);
    text-align: left; }

.the-end {
  width: 100%;
  height: 40px;
  background-color: #1078AD; }
