.hero-header__menu{
    width: 100%;
    height: 70px;
    background:url('../images/png/Merged\ bar-17.png') repeat;
}
.hero-header__menu .logo{
    height: 60px;
    margin: 8px 40px;
}
.hero-header__menu ul{
    float: right;
    margin-right: 50px;
}
.hero-header__menu ul li{
    display: inline-block;
    margin: 0 20px;
    line-height: 80px;
}
.hero-header__menu ul li a{
    color: $blackColor;
    font-weight: bold;
}
.hero-header__menu ul li a:hover{
    color: $bColor;
}
.hero-header__menu ul li .button{
    width: 80px;
    height: 35px;
    text-align: center;
    color: $bluColor;
    background-color: rgba($color: #ffffff, $alpha: 0);
    border-radius: 5px;
    border: 1px solid $bluColor;
}
.hero-header__info{
    width: 100%;
    height: 150px;
    background: url('../images/png/En\ chiffres-3.png');
    text-align: center;
}
.hero-header__info h2{
    padding: 15px;
    font-size: 20px;
}
.hero-header__info p{
    color: $bluColor;
    
}
.hero-header__illustration{
    display: flex;
    padding: 30px 25px;
    width: 100%;
}
.hero-header__illustration .doc{
    width: 50%;
    height: 50%;
}
.hero-header__illustration .text{
    text-align: center;
    line-height: 45px;
    margin-top: 35px;
    h2{
        color: $bluColor;
        font-size: 30px;
        margin-bottom: 25px;
    }
    p{
        color: $opacityColor;
        font-weight: bold;
        font-size: 25px;
    }
    button{
        margin-top: 30px;
        width: 450px;
        height: 45px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: $whiteColor;
        background-color: $buttonColor;
        border: 0px;
        border-radius: 2px;
    }
    
}

