$blackColor: #000;
$whiteColor: #fff;
$bluColor: #1078AD;
$bColor: #1A519E;

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    
}