.recommandations{
    &__offic{
        width: $widthSize;
        height: 400px;
        background-color: $bluColor;
        text-align: center;
        padding-left: 50px;
        padding-right: 100px;
    
        h1{
            padding: 25px;
            color: $whiteColor;
        }
    }
    .section{
        &__display{
            @extend %displ;
            justify-content: space-between;
            margin-top: 20px;
            line-height: 40px;
            h3{
                text-align: left;
                font-size: 20px;
            }
            p{
                color: $whiteColor;
                text-align: left; 
                font-size: 20px; 
            }
            h2{
                font-weight: bold;
                color: $yellowColor;
            }
            button{
                @extend %test ; 
                margin: 20px 0px;
                width: 150px;
                height: 50px;
                background-color:$yellowColor;
                color: $bluColor;
                font-size: 20px;
            }
            a{
                color: $whiteColor;
                border-bottom: 2px solid $yellowColor;
            }
        }
    }
    &__contact{
        width: $widthSize;
        height: 250px;
        background-color: $blColor;
        text-align: center;
        h2{
            color: $buttonColor;
            padding: 20px;
        }
        button{
            margin-top: 25px;
            width: 450px;
            height: 45px;
            font-size: 20px;
            @extend %test ; 
        }
    }
}
