.symptômes{
    width: $widthSize;
    margin-top: 70px;
    text-align: center;
    h1{
        color: $bluColor;
        font-size: 30px
    }
    &__cas{
        display: flex;
        justify-content: center;
    }
    .icon{
        .cas-virus{
            width: 60%;
        }
        &__left{
            margin:65px 110px;
            line-height: 25px;
            p{
                font-weight: bold;
                margin-bottom: 60px;
                font-size: 20px;
            }
        }
        &__right{
            margin:28px 110px;
            line-height: 25px;
            p{
                font-weight: bold;
                margin-bottom: 30px;
                font-size: 20px;
            }
        }
    }
    &__covod{
        height: 300px;
        @extend %displ;
        line-height: 30px;
        p{
            font-weight: bold;
            color: $bColor;
        }
    
    }
}
.test{
    display: block;
    width: $widthSize;
    height: 750px;
    text-align: center;
    line-height: 160px;
    &__préambule{
        margin: auto;
        width: 80%;
        height: 400px;
        background-color: $newColor;
        line-height: 35px;
        border-radius: 5px;
        h2{
            padding: 20px;
            color: $buttonColor;
        }
        p{
            padding: 0px 50px;
        }
        div{
            border-bottom: 2px solid $yellowColor;
            width: 200px;
            margin: 20px auto;
        }
    }
    &__button{
        width: 300px;
        height: 45px;
        font-size: 1.5rem;
        @extend %test ; 
    }
}
.questions{
    display: none;
    width: $widthSize;
    height: 800px;
    line-height: 120px;
    &__q1{
        display: inline-block;
    }
    h2{
        color: $opacityColor;
        text-align: center;
    }
    &__inputs{
        width: 80%;
        height: 200px;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        .reponse{
            width: 200px;
            height: 60px;
            margin: 5px;
            padding: 10px;
            display: flex;
            align-items: center;
            position: relative;
            label{
                font-size: 25px;
                cursor: pointer;
                color: $opacityColor;
            }
            input{
                display: none;
            }
            label::after{
                content: "";
                position: absolute;
                right: 40%;
                bottom: 25%;
                width: 25px;
                height: 25px;
                border: 3px solid $buttonColor;
                border-radius: 50%;
                box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.5);
            }
            label::before{
                content: "";
                position: absolute;
                right: 43%;
                bottom: 19%;
                transform: translateY(-50%);
                width: 19px;
                height: 19px;
                background-color: $yellowColor;
                border-radius: 50%;
                box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.5);
                opacity: 0;
                transition: opacity 0.4s;
            }
            input:checked ~ label::before {
                 opacity: 1;
            }
        }

    }
    &__one{
        width: 80%;
        height: 240px;
        background-color: $yellowColor;
        margin: auto;
        line-height: 35px;
        border-radius: 5px;
        text-align: center;
        h2{
            padding: 20px;
        }
        p{
            padding: 0px 150px;
            font-weight: bold;
        }
    }
    button{
        width: 250px;
        height: 45px;
        margin-top: 40px;
        margin-left: 900px;
        font-size: 1.5rem;
        @extend %test ;  
    }
}

@media ( max-width:767px ) {
    .symptômes{
        h1{
            font-size: 1rem;
        }
        .icon{
            .cas-virus{
                width: 50%;  
            }
            &__left{
                margin:35px 50px;
                p{
                    font-size: 0.6rem;
                    margin-bottom: 30px;
                }
                .fièvre{
                    width: 25%;
                }
            }
            &__right{
                margin:35px 50px;
                p{
                    font-size: 0.6rem;
                    margin-bottom: 30px;
                }
            }
        }
        
    } 
}
