.symptômes{
    width: $widthSize;
    margin-top: 70px;
    text-align: center;
    h1{
        color: $bluColor;
        font-size: 30px
    }
    &__cas{
        display: flex;
        justify-content: center;
    }
    .icon{
        .cas-virus{
            width: 60%;
        }
        &__left{
            margin:65px 110px;
            line-height: 25px;
            p{
                font-weight: bold;
                margin-bottom: 60px;
                font-size: 20px;
            }
        }
        &__right{
            margin:28px 110px;
            line-height: 25px;
            p{
                font-weight: bold;
                margin-bottom: 30px;
                font-size: 20px;
            }
        }
    }
    &__covod{
        height: 300px;
        @extend %displ;
        line-height: 30px;
        p{
            font-weight: bold;
            color: $bColor;
        }
    
    }
}
@media ( max-width:767px ) {
    .symptômes{
        h1{
            font-size: 1rem;
        }
        .icon{
            .cas-virus{
                width: 50%;  
            }
            &__left{
                margin:35px 50px;
                p{
                    font-size: 0.6rem;
                    margin-bottom: 30px;
                }
                .fièvre{
                    width: 25%;
                }
            }
            &__right{
                margin:35px 50px;
                p{
                    font-size: 0.6rem;
                    margin-bottom: 30px;
                }
            }
        }
        
    } 
}
