.symptômes{
    width: 100%;
    margin-top: 70px;
    text-align: center;
    h1{
        color: $bluColor;
        font-size: 30px
    }
    &__cas{
        display: flex;
        justify-content: center;
    }
    .cas-virus{
        width: 60%;
    }
    
}
.symptôme__left{
    margin:65px 110px;
    line-height: 25px;
    p{
        font-weight: bold;
        margin-bottom: 60px;
        font-size: 20px;
    }
}
.symptôme__right{
    margin:28px 110px;
    line-height: 25px;
    p{
        font-weight: bold;
        margin-bottom: 30px;
        font-size: 20px;
    }
}
.symptômes__covod{
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 30px;
    p{
        font-weight: bold;
        color: $bColor;
    }

}